<form ngForm #form="ngForm" (ngSubmit)="addUser()" class="flex-column gap-3">
  <div class="flex-column gap-2">
    <label for="lastname">Nom</label>
    <input #lastnameInput="ngModel" pInputText type="text" [(ngModel)]="lastname" name="lastname" required id="lastname" [invalid]="lastnameInput.invalid" [fluid]="true" />
  </div>
  <div class="flex-column gap-2">
    <label for="firstname">Prénom</label>
    <input #firstnameInput="ngModel" pInputText type="text" [(ngModel)]="firstname" name="firstname" required id="firstname" [invalid]="firstnameInput.invalid" [fluid]="true" />
  </div>
  <div class="flex-column gap-2">
    <label for="email">Adresse email</label>
    <input #emailInput="ngModel" pInputText type="email" [(ngModel)]="email" email name="email" required id="email" [invalid]="emailInput.invalid" [fluid]="true" />
  </div>
  <div class="flex-column gap-2">
    <label for="password">Mot de passe</label>
    <p-password #passwordInput="ngModel" [(ngModel)]="password" name="password" required id="password" [feedback]="false" [toggleMask]="true" [invalid]="passwordInput.invalid" [minlength]="8" [fluid]="true"></p-password>
  </div>
  <div class="flex-row">
    <button [disabled]="form.invalid || loading()" pButton type="submit" [fluid]="true">Ajouter l'utilisateur</button>
  </div>
  @if (!!errorMessage()) {
    <span class="error-message">{{ errorMessage() }}</span>
  }
</form>
