<div class="container">
  <p-drawer [(visible)]="drawerVisible" [header]="drawerHeader" styleClass="mobility-drawer">
    <p-table [value]="mobilityReviewsToShow" [scrollable]="true" scrollHeight="100%" class="mh-0 h-100 table-grow">
      <ng-template #header>
        <tr>
          <th>Promo</th>
          <th>Ville</th>
          <th style="width: 5rem"></th>
        </tr>
      </ng-template>
      <ng-template #body let-mr>
        <tr>
          <td>{{ mr.sector }}</td>
          <td>{{ mr.city }}</td>
          <td><button pButton [size]="'small'" type="button" (click)="see(mr)">Voir</button></td>
        </tr>
      </ng-template>
    </p-table>
  </p-drawer>
  <div #theWorld id="theworld"></div>
</div>
