<span class="title">Réinitialisation de mot de passe</span>
@if (invalidLink) {
  <span class="invalid">Lien invalide ou expiré</span>
} @else {
  <form ngForm #form="ngForm" (ngSubmit)="resetPassword()" class="flex-column gap-3">
    <div class="flex-column gap-2">
      <label for="password">Nouveau mot de passe</label>
      <p-password #passwordInput="ngModel" [(ngModel)]="password" name="password" required id="password" [feedback]="false" [toggleMask]="true" [invalid]="passwordInput.invalid" [minlength]="8" [fluid]="true"></p-password>
    </div>
    <div class="flex-column gap-2">
      <label for="password">Confirmer le nouveau mot de passe</label>
      <p-password #confirmPasswordInput="ngModel" [(ngModel)]="confirmPassword" name="confirmPassword" required id="confirmPassword" [feedback]="false" [toggleMask]="true" [invalid]="confirmPasswordInput.invalid || password !== confirmPassword" [minlength]="8" [fluid]="true"></p-password>
    </div>
    <div class="flex-row">
      <button [disabled]="form.invalid || password !== confirmPassword || loading" pButton type="submit" [fluid]="true">Valider</button>
    </div>
    @if (!!errorMessage) {
      <span class="error-message">{{ errorMessage }}</span>
    }
  </form>
}
