@if (loaded()) {
  <app-mobility-review-form [readonly]="true" [mobilityReview]="mobilityReview()" />
} @else {
  <p-progress-spinner />
}
<div class="flex-row gap-4">
  <button pButton type="button" (click)="close()" [fluid]="true">Retour à la liste</button>
</div>
<div class="flex-row gap-4">
  @if (!mobilityReview().reviewed) {
    <button pButton type="button" (click)="approve()" [fluid]="true" severity="success">Approuver la mobilité</button>
  }
  <button pButton type="button" (click)="delete()" [fluid]="true" severity="danger">Supprimer la mobilité</button>
</div>
